html, body {
   height: 10%;
   width: 100%;
   padding: 0px;
   margin: 0% 0px 0px 0px;
}

#root{
  width: 40%;
  border: 15px solid white;
  padding: 5px;
  margin: 3%;
}

button{
  text-align: center;
}
th, td {
  border: 1px solid black;
  text-align: center;
}
.select_all{
  border: 0px;
}

.select{
  border: 0px;
}

#myDiv{
  font-weight: bold;
}
h4{
  border: 1px;
  background-color: lightblue;
  padding: 10px 5px 10px 10px;
  word-spacing: 350px;
}
.dbutton{
  /* margin-left: 6%; */
  color:#FFFFFF;
  /* float: left; */
  font-weight: bold;
  display:inline-block;
  padding:0.5em 1.2em;
  border-radius:2em;
  box-sizing: border-box;
  font-family:'Roboto',sans-serif;
  background-color:#3369ff;
  /* background-color: blue; */
  /* padding: 10px 12px; */
}
.button {

  padding: 16px 32px;

}
